@import "tailwindcss";

:root{
  --lightGreen:#D4DBB1
  --darkGreen:#50653e
  --lightPink:#F5E1C9
  --darkPink:#E68F5C
  --superDark:#1b3a2a
}

@font-face {
  font-family: curvyText;
  src: url('./assets//fonts/TT\ Ramillas\ Trial\ Medium.woff2');
}
@font-face {
  font-family: curvyTextLight;
  src: url('./assets/fonts/TT\ Ramillas\ Trial\ Light.woff2');
}

@font-face {
  font-family: curvyTextLightItalic;
  src: url('./assets/fonts/TT\ Ramillas\ Trial\ Light\ Italic.woff2');
}


@font-face {
  font-family: curvyTextItalic;
  src: url('./assets/fonts/TT\ Ramillas\ Trial\ Medium\ Italic.woff2');
}



@theme{
  --lightGreen:#D4DBB1
  --darkGreen:#50653e
  --lightPink:#F5E1C9
  --darkPink:#E68F5C
  --superDark:#1b3a2a
}

@layer utilities{
  
  .heading{
    @apply font-[curvyText] text-5xl lg:text-6xl
  }
}

