@import "tailwindcss";

:root{
  --lightGreen:#D4DBB1
  --darkGreen:#50653e
}

@font-face {
  font-family: curvyText;
  src: url('./assets//fonts/TT\ Ramillas\ Trial\ Medium.ttf');
}
@font-face {
  font-family: curvyTextLight;
  src: url('./assets/fonts/TT\ Ramillas\ Trial\ Light.ttf');
}

@font-face {
  font-family: curvyTextLightItalic;
  src: url('./assets/fonts/TT\ Ramillas\ Trial\ Light\ Italic.ttf');
}


@font-face {
  font-family: curvyTextItalic;
  src: url('./assets/fonts/TT\ Ramillas\ Trial\ Medium\ Italic.ttf');
}

